
.showMore {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #b8bcc2;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}

.btn:hover {
    background-color: #6e08cd;
}

.btn span {
    position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.1);
    transform-origin: center center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
}

.btn:hover:before {
    transform: translate(-50%, -50%) scale(3);
}