.logout {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 30px;
    background-color: var(--color-logoutPage);
}

.leftPart {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.welcomeText {
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .leftPart {
        display: none
    }
}

