.btn {
    height: 30px;
    min-width: 5rem;
    color: var(--color-darkText);
    border: none;
    border-radius: 3px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: background-color .4s linear;
}

.follow {
    background-color: var(--color-violet);
    color: var(--button-lightText);
}

.unfollow {
    background-color: var(--color-buttonBackground);
}

.btn:hover {
    background-color: var(--color-button-hover)
}

.btn:disabled {
    background-color: var(--btn-disabled)
}