.btn {
    font-weight: bold;
    border: none;
    border-radius: 3px;
    color: rgba(248, 248, 248, 0.83);
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    transition: opacity .2s linear;
}

.violet {
    background-color: #6e08cd;
}

.blue {
    background-color: #b8bcc2;
}