.title {
    display: inline-block;
    color: #260404;
    font-size: 16px;
    font-weight: 500;
}

.title:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #6e08cd;
    text-align: center;
}