.header {
    grid-area: header;
    background: url('../../img/timeline01.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.headerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px
}

.userAvatar {
    margin-bottom: 10px;
}