.footer:before {
    background: radial-gradient(circle,
    var(--color-violet) 0%,
    var(--color-buttonBackground) 45%,
    var(--color-button-hover) 100%);
    content: "";
    display: block;
    height: 4px;
    text-align: center;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    gap: 17px;

}


/*Column Button*/

.footerColumnButton li {
    border-radius: 5px;
    background-color: var(--color-buttonBackground);
    text-align: center;
    padding: 5px 20px;
    transition: background-color .3s ease;
}

.footerColumnButton li:hover {
    background-color: var(--color-button-hover);
}

.footerColumnButton a {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}

/*Column*/

.column img {
    width: 100px;
}

.blockImgAndAdress {
    display: flex;
}

@media (max-width: 700px) {
    .info .column:nth-of-type(2n) {
        display: none;
    }
}