.profileInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-backgroundCard);
    margin-bottom: 20px;
    padding: 20px;
}

.photoAndStatusBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAvatar img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

hr {
    border: 1px groove #918e8e;
}

@media (max-width: 1080px) {
    .profileInfo {
        flex-direction: column;
    }

    .photoAndStatusBlock {
        margin-bottom: 20px;
    }
}