*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #F4F2F2;
    color: var(--color-darkText);
}

ul {
    padding: 0;
    margin: 0
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
}

li:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    /*BUTTON STYLES*/
    --color-buttonBackground: #af75e7;
    --color-button-hover: #07a3e3;
    --color-darkText: #555;
    --button-lightText: #eee1e1;
    --color-violet: #9942f3;
    --btn-disabled: #888888;
    --btn-showMore: #b8bcc2;


    --color-error: #FF0000FF;
    --color-logoutPage: #AAA3ECD3;
    --color-backgroundCard: #eee1e1;
}