.loginForm {
    background-color: var(--color-backgroundCard);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 450px;
    max-height: 450px;
    max-width: 500px;
    padding: 0 60px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

.formInput {
    background-color:  var(--color-backgroundCard);
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-darkText);
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
    transition: border-bottom .5s linear;
}

.inputError {
    height: 25px;
    color: var(--color-error);
    font-size: 12px;
    text-align: start;
}

.rememberMe {
    display: block;
    font-size: 12px;
    text-align: start;
    margin-top: 15px;
}

.btn {
    height: 100%;
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    margin: 0;
}